.add-form {
	width: 800px;
	margin-left: 5px;
}

.form-add fieldset {
	border: none;
	margin: 0 auto;
}

.form-add fieldset legend {
	display: none;
}

.form-add .field {
	font-weight: bold;
	font-size: 1.2em;
	color: #06F;
}

.form-add .input {
	height: 38px;
	border: 1px solid #bbb;
	width: 800px;
	padding-left: 5px;
	font-size: 1.5em;
}

.form-add .input.addImg {
	height: 38px;
	border: 1px solid #bbb;
	width: 760px;
	float:left;
	padding-left: 5px;
	font-size: 1.5em;
}

.form-add .small-input {
	border: 1px solid #bbb;
}

.form-add .textarea {
	height: 500px;
	border: 1px solid #bbb;
	width: 780px;
	padding-left: 13px;
	padding-right: 10px;
	font-size: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
}

.form-add .select {
	height: 38px;
	border: 1px solid #bbb;
	width: 350px;
	padding-left: 5px;
	font-size: 1.5em;
}

.form-add .small-select {
	border: 1px solid #bbb;
}

.form-add .required {
	background-color: #d6f2ff;
}

.form-add .save-cancel {
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
}

.form-add .submit {
	border: 1px solid #bbb;
	padding-left: 5px;
	margin-bottom: 15px;
	font-size: 3em;
}

.form-add .small-submit {
	border: 1px solid #bbb;
	font-size: 1em;
}

.form-add .save {
	color: #4F8A10;
	background-color: #DFF2BF;
	border: 1px solid #4F8A10;
}

.form-add .cancel {
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid #D8000C;
}

#videos {
	float:left;
	width: 100;
}

.video {
	float:left;
	width: 220px;
	margin-right: 20px;
}

#description {
	height:150px;
}
